body {
  background-image: url("../img/nebula.jpg");
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center;
}

.jumbotron h1 {
  text-shadow: 0 0 5px dodgerblue;
  color: black;
}

h3+p {
  padding: 1rem;
}

h3 {
  text-align: center;
}

h3,
p {
    color: greenyellow;
    text-shadow: 0 0 3px black;
}

.row {
  margin: 25px;
}

.jumbotron {
  text-align: center;
  padding: 5rem 0 1rem 0;
  background-color: black;
  border-bottom: solid dodgerblue 1px;
}

.jumbotron p.lead {
  font-weight: bold;
  color: dodgerblue;
}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.saturn img {
  width: 50%;
}

.deluxe {
  font-family: impact;
}






@media only screen and (min-width: 992px) {
  img,
  .saturn img {
    width: 80%;
  }

  .saturn p {
    text-align: center;
  }

  .pluto p {
    text-align: right;
  }
}
